.about-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  section {
    margin-bottom: 30px;
    padding-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .about-section {
    background: #f0f8ff;
    text-align: center;
  }
  
  
  .history-section {
  background: #fff0f5;
  text-align: center;
  min-height: 250px;
  width: 75%; 
  margin: auto;
  }
  
  
  .services-section {
    background: #f5f5dc;
    text-align: center;
    min-height: 250px; 
    width: 75%; 
    margin: auto;

  }
  
  .services-section ul {
    list-style: none;
    padding: 0;
  }
  
  .services-section li {
    background: #007bff;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
  

.video-section {
  text-align: center;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 560px;
  margin: auto;
  padding-bottom: 31.5%; 
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
